extends ../layout
block content
  h2 这是index页
  h3 #{movies.title}
  .container
    .row
      each item in movies
        .col-md-3
          .thumbnail
            a(href="/movie/#{item.Id}")
              img(src="#{item.poster}", alt="#{item.title}")
            .caption
              h3 #{item.title}
              p: a.btn.btn-primary(href="/movie/#{item.Id}", role="button") 观看预告片