extends ../layout
block content
  table.table.table-bordered.table-hover
    thead
      tr
        th 电影名称
        th 导演
        th 国家
        th 上映年份
        th 录入时间
        th 查看
        th 更新
        th 删除
    tbody
      each movie in movies
        tr
          td #{movie.title}
          td #{movie.doctor}
          td #{movie.country}
          td #{movie.year}
          td #{movie.meta.createAt}
          td
            a(href='') 查看
          td
            a(href='') 修改
          td
            bottun.btn.btn-danger() 删除
